<%= stylesheet_link_tag 'filetree' %>

<div>
	<ol class="tree">
		<li>
			<label for="rootfolder"><%= @repository.name %></label> 
			<input type="checkbox" checked disabled id="rootfolder" />
			<ol>
			<% @directory_list.each_with_index do |dir, index| %>	
				<li>
					<label for="<%= "folder#{index}"%>"><%= dir[:path] %></label> 
					<input type="checkbox" id="<%= "folder#{index}"%>" /> 
					<ol>
						<li class="file"><a href="">File 2</a></li>
			            <li class="file"><a href="">File 2</a></li>
					</ol>
				</li>
			<% end %>
			<% @file_list.each do |file| %>
				<li class="file">
					<a style="background: url(<%= image_for_file(file[:path]) %>) 0 0 no-repeat" href="<%= repository_path(@repository,:path=>@current_path+file[:path], :file => true) %>"><%= file[:path] %></a>
				</li>
			<% end %>
			</ol>
		</li>
	</ol>
</div>

<%= link_to 'Back to overview', repositories_path %>