<%= stylesheet_link_tag 'filetree' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'repositories' %>


<div class="tree-container" data-repo-id="<%= @repository.id%>" >
	<table class="table table-striped table-bordered table-hover">
		<% @directory_list.each_with_index do |dir, index| %>	
		<tr data-path="<%= dir[:path] %>" data-folderid="<%= index %>">
			<td><i class="icon-folder-close"></i> <%= dir[:path] %></td>
		</tr>
		<% end %>
		<% @file_list.each do |file| %>
		<tr>
			<td><a style="background: url(<%= image_for_file(file[:path]) %>) 0 0 no-repeat" href="<%= repository_path(@repository,:path=>@current_path+file[:path], :file => true) %>"><%= file[:path] %></a></td>
		</tr>
		<% end %>
	</table>
</div>

<%= link_to 'Back to overview', repositories_path %>