<%= form_for(@repository) do |f| %>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box(:public) %>
  </div>
	<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field(:name) %>
  </div>
  <div class="actions">
    <%= f.submit "Save Repository", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>