<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Listing repositories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= "hallo" unless current_user %>
<% @repositories.each do |repository| %>
<% if can? :read, repository %>
  <tr>
	  <td><%= repository.name %></td>
    <td><%= link_to 'Show', repository %></td>
    <td><%= link_to 'Edit', edit_repository_path(repository) %></td>
    <td><%= link_to 'Destroy', repository, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Repository', new_repository_path %>
