<%= stylesheet_link_tag 'bootstrap3-editable/bootstrap-editable' %>

<h1>Settings specific to Repository <%= @repository.name %></h1>
<div>
	<ul>
		<li>Rename repository here</li>

		<li>Change public / private here</li>

		<li>Add collaborators here</li>

		<li>Delete repository (owner)</li>
	</ul>
<div>


<div class='settings-table'>
	<table class="table table-striped table-border table-hover" style="width: auto;">
	  <thead>
	  <tr>
	    <th align='left'>Key</th>
	    <th align='left'>Value</th>
  	  </tr>
      </thead>
	  <tbody>
		<%= form_for(@repository_settings, :url => repository_settings_path(@repository)) do |form| %>
			<tr>
				<td><%= form.label "Enable wiki for #{@repository.name}:" %></td>
				<td><a href="#" id="enable_wiki"><%= @repository_settings[:enable_wiki] == "0" ? 'false' : 'true' %></a></td>
			</tr>
			<tr>
				<td><%= form.label "Enable issue tracker for #{@repository.name}:" %></td>
				<td><a href="#" id="enable_issuetracker"><%= @repository_settings[:enable_issuetracker] == "0" ? 'false' : 'true' %></a></td>
			</tr>
			<tr>
				<td><%= form.label "Default branch for #{@repository.name}:" %></td>
				<td><a href="#" id="default_branch" data-branches=<%= @repository.repository.branches.to_json %> ><%= @repository_settings[:default_branch] %></a></td>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>


<div class="row">
	<div class="col-xs-4">
		<h2>Collaborators</h2>
	</div>
	<div class="col-xs-6">
		<div  id="prefetch">
			<%= label_tag "Add collaborator" %><br/>
			<%= text_field_tag :new_contributor, nil, size: '40', placeholder: 'Type the username here', class: 'typeahead' %>
		</div>
	</div>
</div>
<div class="row">
	<div class='collaborators-table'>
		<table class="table table-striped table-border table-hover" style="width: auto;">
		<% if @contributors.empty? %>
			<%= "There are no contributors for this repo besides you." %>
		<% else %>
			<% @contributors.each do |contributor| %>
				<tr>
					<td><%= contributor.username %></td>
					<td><%= contributor.name %></td>
					<td><%= link_to "Remove", repository_remove_collaborator_path(:repository_id => @repository.id, :user_id => contributor.id, :role => :contributor), { :method => :put, :class => "btn btn-primary btn-large" } %></td>
				</tr>
			<% end %>
		<% end %>
		</table>
	</div>
</div>

<div class="danger">
</div>
