<h2>Repository: <%= @repository.name %></h2>
<div><p>Current Path: <b><%= @current_path == '' ? '/' : @current_path %></b></p></div>

<% if params[:file] %>
<%= render 'fileview' %>
<% else %>
<%= render 'dirview' %>
<% end %>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
