<h3><%= "#{current_user.username} / #{@repository.name}" %></h3>
<%= select_tag "branch", options_for_select(@repository.repository.branches, "refs/head/master") %>
<div class="breadcrumb-container">
	<ul class="breadcrumb">
		<li><%= "#{@repository.name} " %></li>
		<% unless @current_path == '' %>
		<li> <%= @current_path %> </li>
		<% end  %>
	</ul>
</div>

<% if params[:file] %>
<%= render 'fileview' %>
<% else %>
<%= render 'dirview' %>
<% end %>