<p>Editing <%= @smtp_settings %></p>

<div class="field">
<form>
<% @smtp_settings.each do |key, value| %>
  <label for="smtp_settings[<%= key %>]"> <%= key %></label>
  <input name="smtp_settings[<%= key %>]" type="text" value="<%= value %>" /><br/>
<% end %>
</form>
</div>