<h1>Listing repositories</h1>

<div>
	<table class='table table-striped table-border table-hover'>
	  <tr>
	    <th>Name</th>
	    <th>Owner</th>
		<th>Valid?</th>
		<th>Last accessed</th>
	    <th>Actions</th>
  	  </tr>

	<% @repositories.each do |repository| %>
	<% if repository.valid? %>
	  <tr>
		<td><%= link_to repository.name, admin_repository_path(repository) %></td>
		<td><%= repository.owner.name%></td>
		<td><i class="<%= repository.repository.valid? ? 'icon-ok' : 'icon-remove' %>"</i></td>
		<td><%= repository.repository.head.nil? ? "Never" : repository.repository.head.committed_date %></td>
		<td><div>
		<%= link_to edit_admin_repository_path(repository), :class => "btn" do %>
		 	<i class="icon-edit icon-white"></i>
		<% end %>
		<%= link_to admin_repository_path(repository), :class => "btn", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" do %>
		 	<i class="icon-trash icon-white"></i>
		 <% end %>
		</div></td>
	  </tr>
	<% end %>
	<% end %>
	</table>
</div>
<br />

<%= link_to 'New Repository', new_repository_path, :class => 'btn btn-primary' %>
