<h1>Listing repositories</h1>

<div>
	<table class='table table-striped table-border table-hover'>
	  <tr>
	    <th>Name</th>
	    <th>Owner</th>
		<th>Last accessed</th>
	    <th>Actions</th>  
  	  </tr>

	<% @repositories.each do |repository| %>
	<% if repository.valid? %>
	  <tr>
		<td><%= link_to repository.name, repository %></td>      
		<td><%= repository.owner.name%></td>
		<td><%= repository.repository.head.nil? ? "Never" : repository.repository.head.committed_date %></td>
		<td><div>
	    <%= link_to 'Edit', edit_repository_path(repository), :class => 'btn btn-primary' %>
	    <%= link_to 'Destroy', repository, :class => 'btn btn-primary', confirm: 'Are you sure?', method: :delete %>
		</div></td>
	  </tr>
	<% end %>
	<% end %>
	</table>
</div>
<br />

<%= link_to 'New Repository', new_repository_path, :class => 'btn btn-primary' %>
