<h1>Repository Name: <%= @repository.name %></h1>
<div><p>Current Path: <b><%= @current_path == '' ? '/' : @current_path %></b></p></div>

<% if params[:file] %>
<%= stylesheet_link_tag "coderay" %>
<h1>File: <b><%= @current_path[-1,1] == '/' ? @current_path [0,@current_path.length-1] : @current_path %></b></h1></p>
<%= @rendered_text.html_safe %>
<% else %>
<%
num_dirs = @directory_list.length > 0 ? @directory_list.length : "none."
num_files = @file_list.length > 0 ? @file_list.length : "none."
%>

<p>
<h3>Directories: <%= num_dirs %></h3>
<ul id="dirs">
<% @directory_list.each do |dir| %>	
<li><a href="<%= repository_path(@repository,:path=>@current_path+dir[:path])  %>"><%= dir[:path] %></a></li>
<% end %>
</ul>
</p>

<p>
<h3>Files: <%= num_files %></h3>
<ul id="files">
<%
@file_list.each do |file|
%>	
<li><a href="<%= repository_path(@repository,:path=>@current_path+file[:path], :file => true) %>"><%= file[:path] %></a></li>
<% end %>
</ul>
</p>

<% end %>

<%= link_to 'Edit', edit_repository_path(@repository) %> |
<%= link_to 'Back', repositories_path %>
