<%= form_for user, :html => { :class => :form } do |f| %>
	<div class="control-group">
    	<%= f.label :name, :class => 'control-label' %><br />
		<div class="input">
    		<%= f.text_field :name  %><br />
		</div>
	</div>
	<div class="control-group">
    	<%= f.label :email, :class => 'control-label' %><br />
		<div class="input">
    		<%= f.text_field :email %><br />
    		<%= label_tag "Public profile:" %> <%= f.check_box :public %>
		</div>
	</div>
  <div class="actions">
	<br/>
    <%= f.submit "Update profile", :class => "btn btn-primary btn-large" %>
  </div>
<% end %>