<p><%= gravatar_image_tag(@user.email, :alt => @user.name ) %>
<h2><%= @user.name %></h2><br/>
<i><%= @user.username %></i><br/>
<%= @user.email %><br/>
<hline>
Joined on <%= @user.created_at %><br/>
<b>Number of owned repos:</b> <%= @user.owned_repositories.size %>

</p>

<%= link_to 'Edit', edit_user_path, :class => 'btn btn-primary' %>
<%= link_to 'Back', repositories_path, :class => 'btn btn-primary' %>

