<!-- From https://github.com/edap/authuser/tree/master/app/views/admin/users -->

<div class="panel panel-default">
  <div class="panel-heading"><b>User administration</b></div>
	<table class="table table-striped" id="admin-users-table">
	 <thead>
	  <tr>
		<th></th>
	    <th>ID</th>
		<th>Username</th>
	    <th>
	      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
	    </th>
	    <th>Created at</th>
		<th>Admin?</th>
	    <th>Actions</th>
	  </tr>
	  </thead>
	  <tbody>
	  <% @users.each do |user| -%>
	   <tr>
		<td><%= gravatar_image_tag(user.email, :alt => user.name, :gravatar => {:size => 20} ) %></td>
	    <td><%= user.id %></td>
		<td><%= user.username %></td>
	    <td><%= link_to user.email, admin_user_path(user) %>
	    </td>
	    <td><%= user.created_at %></td>
		<td><i class=" fa <%= user.admin? ? 'fa-check' : 'fa-times' %>"</i></td>
	    <td>
	      <%= link_to edit_admin_user_path(user), :class => "btn btn-default" do %>
		 	<i class="fa fa-edit"></i>
		  <% end %>
	     <%= link_to admin_user_path(user), :class => "btn btn-danger", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" do %>
		 	<i class="fa fa-trash"></i>
		 <% end %>
	    </td>
	    </tr>
	    <% end -%>
	   </tbody>
	</table>
</div>

<%= link_to "Add new user", new_admin_user_path, :class => 'btn btn-primary', :id => 'add_new_user' %>