<!-- From https://github.com/edap/authuser/tree/master/app/views/admin/users -->
<h1>Users</h1>
<table class="table table-striped">
 <thead>
  <tr>
	<th></th>
    <th>ID</th>
	<th>Username</th>
    <th>
      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
    </th>
    <th>Created at</th>
	<th>Admin?</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| -%>
   <tr>
	<td><%= gravatar_image_tag(user.email, :alt => user.name, :gravatar => {:size => 20} ) %></td>
    <td><%= user.id %></td>
	<td><%= user.username %></td>
    <td><%= link_to user.email, admin_user_path(user) %>
    </td>
    <td><%= user.created_at %></td>
	<td><i class="<%= user.admin? ? 'icon-ok' : 'remove' %>"</i></td>
    <td>
      <%= link_to edit_admin_user_path(user), :class => "btn btn-default" do %>
	 	<i class="edit icon-white"></i>
	  <% end %>
     <%= link_to admin_user_path(user), :class => "btn btn-default", :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" do %>
	 	<i class="trash icon-white"></i>
	 <% end %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "Add new user", new_admin_user_path, :class => 'btn btn-primary' %>