<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Repotag</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
  		<% if user_signed_in? %>                                                        
  			<%= nav_link 'Repositories', repositories_path %>
  			<%= nav_link current_user.name, "#{users_path}/#{current_user.id}" %> 
  			<%= nav_link 'Administration', admin_path if current_user.admin? %>
      		<%= nav_link 'Logout', destroy_user_session_path, [], :method => :delete %>
    		<% else %>
      		<%= nav_link 'Login', new_user_session_path %>
    		<% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>